# Binary files - no LFS, stored as regular git objects
*.png -text
*.jpg -text
*.jpeg -text
*.gif -text
*.webp -text
*.ico -text
*.bmp -text
*.tiff -text
*.mp4 -text
*.mov -text
*.webm -text
*.mp3 -text
*.wav -text
*.zip -text
*.gz -text
*.tar -text
*.7z -text
*.ttf -text
*.otf -text
*.woff -text
*.woff2 -text
*.heic -text
*.avif -text
*.m4a -text
*.aac -text
*.ogg -text
*.flac -text
*.avi -text
*.mkv -text
*.m4v -text
*.rar -text
*.bz2 -text
*.xz -text
*.zst -text
*.docx -text
*.xlsx -text
*.pptx -text
